# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [1]:
a= "kunal"
b= "Agarwal"

# Write code to print the variable a 
print(a)

############

# Write Code to Change variable a into 30
a=30
print(a)

############

# Write Code to assign variable a the value of b
a=b
print(a)

############

kunal
30
Agarwal

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [2]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment
a,b,c=c,b,a

######
print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [3]:
string = "this is a test!"

## Write Code to reverse string in one line
string=string[-1::-1]
##

print(string)

!tset a si siht

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [4]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code 
lst=[]
for i in clubs:
    if(i in membership):
        lst.append('true')
    else:
        lst.append('false')
print(lst)        
num=[]
for i in clubs:
    if(i in membership):
        num.append('1')
    else:
        num.append('0')
print(num)

['true', 'false', 'false', 'true', 'false']
['1', '0', '0', '1', '0']

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [5]:
expression = 4_6_9_3_23_19 
print(expression)

# write your code here
exp= 4*6-9/3+23%19
print(exp)

46932319
25.0

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [6]:
for i in range(100):
  # Write Code here
    count=0
    for n in range(1,i+1):
        if(i%n==0):
            count+=1
        else:
            continue
    if(count==2):
        print(i,"I was a prime")
       
        
  #Don't tamper the next line
print("I was a prime")

2 I was a prime
3 I was a prime
5 I was a prime
7 I was a prime
11 I was a prime
13 I was a prime
17 I was a prime
19 I was a prime
23 I was a prime
29 I was a prime
31 I was a prime
37 I was a prime
41 I was a prime
43 I was a prime
47 I was a prime
53 I was a prime
59 I was a prime
61 I was a prime
67 I was a prime
71 I was a prime
73 I was a prime
79 I was a prime
83 I was a prime
89 I was a prime
97 I was a prime
I was a prime

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [7]:
list1 = ['abc','xyz','aba','1221']
# Write your code here
count=0
for i in list1:
    if(len(i)>=2 and i[0]==i[len(i)-1]):
        count+=1
    else:
        continue
print(count)

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [8]:
# Write your code here
full=[1,2,3,4,5,6,7,8,9,10]
for i in full:
    full.remove(i+1)
    i=i+2
full

[1, 3, 5, 7, 9]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** :

**Expected Output**:

{'city': 'New york', 'age': 25}

In [9]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here
sampleDict.pop("name")
sampleDict.pop("salary")
sampleDict

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [34]:
# Write your code here 
dict={}
print("Enter details of students ")
for i in range(10):
    Adm_no=int(input("enter admission number: "))
    name=input("enter name of student: ")
    stream=input("enter stream of student: ")
    dict[Adm_no]=[name,stream]
print(dict)

Enter details of students
enter admission number: 1
enter name of student: kunal
enter stream of student: cs
enter admission number: 2
enter name of student: darsh
enter stream of student: etrx
enter admission number: 3
enter name of student: apurv
enter stream of student: extc
enter admission number: 4
enter name of student: raj
enter stream of student: it
enter admission number: 5
enter name of student: xyz
enter stream of student: textile
enter admission number: 6
enter name of student: tanmay
enter stream of student: cs
enter admission number: 7
enter name of student: hsg
enter stream of student: civil
enter admission number: 8
enter name of student: sid
enter stream of student: cs
enter admission number: 9
enter name of student: atharva
enter stream of student: It
enter admission number: 10
enter name of student: nsc
enter stream of student: prod
{1: ['kunal', 'cs'], 2: ['darsh', 'etrx'], 3: ['apurv', 'extc'], 4: ['raj', 'it'], 5: ['xyz', 'textile'], 6: ['tanmay', 'cs'], 7: ['hsg', 'civil'], 8: ['sid', 'cs'], 9: ['atharva', 'It'], 10: ['nsc', 'prod']}



# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [11]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them
z=set1.intersection(set2)
print(z)

{10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [12]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list
tup1=list1[0]
tup2=list1[1]
tup3=list1[2]
tup4=tup1[:2]
tup5=tup2[:2]
tup6=tup3[:2]
tup7=tup4+(100,)
tup8=tup5+(100,)
tup9=tup6+(100,)
list1=[tup7,tup8,tup9]
list1

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [13]:
# Write Your code here
def showNumbers(limit):
    for i in range(limit+1):
        if(i%2==0):
            print(i,"EVEN")
        else:
            print(i,"ODD")
showNumbers(3)

0 EVEN
1 ODD
2 EVEN
3 ODD

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [14]:
# Write your code here
def showprime(limit):
    for i in range(limit):
        count=0
        for n in range(1,i+1):
            if(i%n==0):
                count+=1
            else:
                continue
        if(count==2):
            print(i)
       
showprime(20)

2
3
5
7
11
13
17
19

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [31]:
# Write your code here 
class Student:
    
    def __init__(self,name,age,rollno,subj):
        self.name= name
        self.age = age
        self.rollno= rollno
        self.subj=subj
    def getDetails(self):
        print("Name:",self.name, "Age:",self.age, "Rollno:",self.rollno)
    def isFav(self):
        fav_list = ["EG","Mechanics","Chemistry"]
#         for i in fav_list:
#             if(self.subj== i):
#                 print("true")
#             else:
#                 continue
        
        print(self.subj in fav_list) #bonus
       
        
n=input("enter your name ") 
a= int(input("enter your age ")) 
r= int(input("enter your rollno "))
s=input("enter your fav subject ") 
s1=Student("Rahul",18,87,"Maths")
s2=Student(n,a,r,s)



s2.getDetails()
s2.isFav()
s1.getDetails()
s1.isFav()

enter your name kunal
enter your age 18
enter your rollno 107
enter your fav subject Mechanics
Name: kunal Age: 18 Rollno: 107
True
Name: Rahul Age: 18 Rollno: 87
False